<div class="overheard-header">OVERHEARD</div>
<div class="row">
  <div class="col-sm-12" id="menu-bar"> 
    <h1 class="text-center" id="mood-title">
        <%= image_tag "logo_interior.png", class:"header-icon-left" %>
        <%= image_tag "menu.png", class:"header-icon-right" %>
        menu
      </h1>
  </div>
</div>
<div class = "orange-separator"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        
          <ul class ="mood_button_container">
              <li class="mood_row"  > 
                  <%= image_tag("play_clear.png" ,class:"play_clear") %>
        <%= link_to "classics", {:controller => "moods", :action => "set_sessions_mood", :mood => "curious core"}, class: "btn btn-primary btn-block btn-lg" %></li>
             
              <li class="mood_row"><%= image_tag("play_clear.png" ,class:"play_clear") %>
                  <%= link_to "learning corner", {:controller => "moods", :action => "set_sessions_mood", :mood => "learning corner" }, class: "btn btn-primary btn-block btn-lg" %></li>
              
              <li class="mood_row"><%= image_tag("play_clear.png" ,class:"play_clear") %> 
                  <%= link_to "news outlook", {:controller => "moods", :action => "set_sessions_mood", :mood => "news outlook" }, class: "btn btn-primary btn-block btn-lg" %></li>
              
              <li class="mood_row"><%= image_tag("play_clear.png" ,class:"play_clear") %> 
                  <%= link_to "storytelling", {:controller => "moods", :action => "set_sessions_mood", :mood => "storytelling" }, class: "btn btn-primary btn-block btn-lg" %>
          </li>
              
              <li class="mood_row"><%= image_tag("play_clear.png" ,class:"play_clear") %> 
                  <%= link_to "people & ideas", {:controller => "moods", :action => "set_sessions_mood", :mood => "people & ideas" }, class: "btn btn-primary btn-block btn-lg" %></li>
              
              <li class="mood_row"><%= image_tag("play_clear.png" ,class:"play_clear") %>
                  <%= link_to "experimental", {:controller => "moods", :action => "set_sessions_mood", :mood => "experimental" }, class: "btn btn-primary btn-block btn-lg" %></li>
          
         
              
              </ul>
      </div>
        
        <!-- signin alert should be here, cant find ruby or js method that adds it -->
        <div class="contact-email">
        <p>ohpodcast@gmail.com</p>
        </div>
    </div>
  </div>
  <script>
    $("#hitme").click(function() {
      $('#surveyModal').modal('show');
    })

    $("#survey-modal-submit").click(function() {
      $("#surveyModal").modal('hide');
    })
  </script>
