<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">I'm Feeling</h1>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <%= link_to "Psychology", {:controller => "moods", :action => "set_sessions_mood", :mood => "psychology"}, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Surfing", {:controller => "moods", :action => "set_sessions_mood", :mood => "surfing" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Big Boobs girls", {:controller => "moods", :action => "set_sessions_mood", :mood => "titties" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Technology", {:controller => "moods", :action => "set_sessions_mood", :mood => "technology" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Economics", {:controller => "moods", :action => "set_sessions_mood", :mood => "economics" }, class: "btn btn-primary btn-block btn-lg" %>
      </div>
    </div>
  </div>
