<h1>I'm Feeling</h1>
  <%= link_to "Curious Core", {:controller => "moods", :action => "set_sessions_mood", :mood => "curious core"} %>
  <%= link_to "Learning Corner", {:controller => "moods", :action => "set_sessions_mood", :mood => "learning corner" } %>
  <%= link_to "News Outlook", {:controller => "moods", :action => "set_sessions_mood", :mood => "news outlook" } %>
  <%= link_to "Storytelling", {:controller => "moods", :action => "set_sessions_mood", :mood => "storytelling" } %>
  <%= link_to "People & Ideas", {:controller => "moods", :action => "set_sessions_mood", :mood => "people & ideas" } %>
  <%= link_to "Experimental", {:controller => "moods", :action => "set_sessions_mood", :mood => "experimental" } %>
