<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">I'm Feeling</h1>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <%= link_to "Lectures", {:controller => "moods", :action => "set_sessions_mood", :mood => "lectures"}, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "General Knowledge", {:controller => "moods", :action => "set_sessions_mood", :mood => "general knowledge" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Ideas and People", {:controller => "moods", :action => "set_sessions_mood", :mood => "ideas and people" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Hobbies and Interests", {:controller => "moods", :action => "set_sessions_mood", :mood => "hobbies and interests" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Experimental", {:controller => "moods", :action => "set_sessions_mood", :mood => "experimental" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Storytelling", {:controller => "moods", :action => "set_sessions_mood", :mood => "storytelling" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Opinions and Commentary", {:controller => "moods", :action => "set_sessions_mood", :mood => "opinions and commentary" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Pop Culture", {:controller => "moods", :action => "set_sessions_mood", :mood => "pop culture" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Curious Core", {:controller => "moods", :action => "set_sessions_mood", :mood => "curious core" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Current Events", {:controller => "moods", :action => "set_sessions_mood", :mood => "current events" }, class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <%= render "shared/rating_modal" %>
    </div>
  </div>
  <script>
    $("#hitme").click(function() {
      $('#surveyModal').modal('show');
    })

    $("#survey-modal-submit").click(function() {
      $("#surveyModal").modal('hide');
    })
  </script>
