<div class="overheard-header">OVERHEARD</div>
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center" id="mood-title">Menu</h1>
  </div>
    
</div>
<div class = "orange-separator"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <%= link_to "Classics", {:controller => "moods", :action => "set_sessions_mood", :mood => "curious core"}, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Learning Corner", {:controller => "moods", :action => "set_sessions_mood", :mood => "learning corner" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "News Outlook", {:controller => "moods", :action => "set_sessions_mood", :mood => "news outlook" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Storytelling", {:controller => "moods", :action => "set_sessions_mood", :mood => "storytelling" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "People & Ideas", {:controller => "moods", :action => "set_sessions_mood", :mood => "people & ideas" }, class: "btn btn-primary btn-block btn-lg" %>
        <%= link_to "Experimental", {:controller => "moods", :action => "set_sessions_mood", :mood => "experimental" }, class: "btn btn-primary btn-block btn-lg" %>
      </div>
    </div>
  </div>
  <script>
    $("#hitme").click(function() {
      $('#surveyModal').modal('show');
    })

    $("#survey-modal-submit").click(function() {
      $("#surveyModal").modal('hide');
    })
  </script>
