<div class="orange-separator">
</div>

<div class="row" id="signin-main">
  <div class="sm-col-12 text-center">
    <%= image_tag("logo_with_name.png", class:"logo-with-name") %>
      
      <!-- <p><%= link_to "or Sign up", new_user_registration_path %></p> -->
      
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
      <!--  <%= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: true , placeholder:"email" %>
      </div>

      <div class="field">
        <!--<%= f.label :password %><br /> -->
        <%= f.password_field :password, autocomplete: "off" , placeholder:"password" %>
      </div>

      <!--COMMENTED OUT REMEMBER ME OPTION TO RESPECT THE DESING LAYOUT -->
      <!--<% if devise_mapping.rememberable? %>-->
      <!--    <div class="field">-->
      <!--    <%= f.check_box :remember_me %>-->
      <!--    <%= f.label :remember_me %>-->
      <!--  </div>-->
      <!--  <% end -%>-->
        

        <div id ="button-container">
            <div class="actions sign-in-button"   >
                <%= f.submit "login" %>
            </div>
            <p id="simple-or-text">- or -</p>
            <div class ="sign-in-button">  
                <p><%= link_to "sign up" , new_user_registration_path %></p>
                </div>
        </div>
    
      </div>
    <% end %>
   <!-- <%= render "devise/shared/forgot_password" %> -->
  </div>
</div>
