<div class="row">
  <div class="sm-col-4 text-center">
    <div class="sm-col-offset-4">
    <%= form_for @podcast, :html => { :multipart => true } do |f|  %>
    <%= f.label :title %> <br> 
    <%= f.text_field :title %> <br>
    <%= f.label :genre %> <br>
    <%= f.select :genre, Podcast::GENRES %> <br> <br>
    <%= f.label :author %> <br>
    <%= f.text_field :author %> <br>
    <%= f.label :mood %> <br>
    <%= f.select :mood, %w(happy sad indifferent) %> <br> <br>
    <%= f.label :cover_photo %> <br>
    <%= f.file_field :cover %> <br>
    <%= f.label :audio %> <br>
    <%= f.file_field :audio %>
    <%= f.label :tags!, "Tags (separated by commas dudes!" %> <br> 
    <%=  f.text_field :tag_list %> <br>   
    <%= f.submit "Upload that shit" %>
  <% end %>
  </div>
  </div>
</div>
