<div class="row">
  <div class="sm-col-12 text-center">
    <h3> <%= session[:mood].titleize unless !session[:mood] %> </h3>
      <h2> <%= @podcast.title %> </h2>
    <h3><i> <%= @podcast.author %></i> </h3> 
  </div>
</div>

<div class="row">
  <div class="sm-col-12 text-center">
    <%= image_tag @podcast.cover.url(:medium), class: "image-reponsive" %>
  </div>
</div>

<div class="row">
  <div class="sm-col-12 text-center">
    <audio src="<%= @podcast.path %>" controls id="audio">
    </audio>
  </div>
</div>

<div class="row">
  <div class="sm-col-12 text-center">
    <%= link_to "Explore again", root_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Dig deeper", podcast_path(@podcast.next), class: "btn btn-primary btn-lg" %>
  </div>
</div>
    
      <script>
    $("#audio").bind("ended", function(){ alert("hello cosmo this podcast finished!!!!") });
  </script>
</div>
